/* Default styles */
.main-container {
    background-color: lightblue;
    text-align: center;
  }
  
  @media only screen and (max-width: 550px) and (orientation: landscape) {
    .main-container {
      min-width: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color: lightgreen;
    }
  
    h1 {
      font-size: 1.5em;
    }
  
    p {
      font-size: 1em;
    }
  }
  