<div class="main-container mt-8">
    <div class="games" [routerLink]="['/user/dragon-tiger']">
        <img src="/assets/gameicom/dragontiger.jpeg" alt="">
        <h1 class="text-[20px] font-bold text-[white]">Dragon</h1>
    </div>
    <div class="games">
        <img src="/assets/gameicom/rocket.png" alt="">
        <h1 class="text-[20px] font-bold text-[white]">Aviator</h1>
    </div>
    <div class="games">
        <img src="/assets/gameicom/casino.jpeg" alt="">
        <h1 class="text-[20px] font-bold text-[white]">Casino</h1>
    </div>
    <div class="games">
        <img src="/assets/gameicom/car.jpeg" alt="">
        <h1 class="text-[20px] font-bold text-[white]">Racing</h1>
    </div>
    <div class="games">
        <img src="/assets/gameicom/dragontiger.jpeg" alt="">
        <h1 class="text-[20px] font-bold text-[white]">Casino</h1>
    </div>
    <div class="games">
        <img src="/assets/gameicom/dragontiger.jpeg" alt="">
        <h1 class="text-[20px] font-bold text-[white]">Casino</h1>
    </div>
</div>