<nav class="nav-bar w-full h-[65px] md:h-[80px]  backdrop-blur-sm bg-white/10 ">
    <div class="more flex justify-center items-center" >
        <img src="/assets/icons/other.png" alt="" class="h-[40px] md:h-[60px]">
    </div>
    <div class="add-and-withdraw  flex ">
    <div class="amount-and-add w-[40%]  flex justify-center items-center">
        <div class="widthdraw-details bg-[#ffffffaf] md:w-[80%] w-full md:py-2 py-1 relative flex justify-between">
            <img src="/assets/icons/dollar.png" alt="icon" class="h-[36px] md:h-[48px] absolute md:-top-1 -top-[2px] md:-left-2 -left-[6px]">
            <div class="amount pl-[30px] md:pl-[50px]">$200</div>
            <div class="add pr-2">
                <h1 class="font-bold">MY CASH</h1>
            </div>
        </div>
    </div>
    <div class="withdrawal w-[30%]  flex justify-center items-center md:justify-start md:pl-3">
        <button class="withdraw-button border rounded-lg md:rounded-2xl text-[12px] md:text-[16px] px-2 py-1 md:px-7 md:py-2 bg-[green] font-mono font-400 text-white">ADD</button>
    </div>
</div>
<div class="profile !h-full md:pl-8">
    <img src="/assets/icons/file.png" alt="" class="h-[65px] md:h-[80px]">
</div>
    
</nav>